.header{
  max-width: 880px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  &__border {
    border-bottom: none;
  }

}

.header__logo{
  max-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 879px) {
  .header__logo {
    max-width: 175px;
  }
}
@media screen and (max-width: 620px) {
  .header__logo {
    max-width: 150px;
  }
}
@media screen and (max-width: 520px) {
  .header__logo {
    max-width: 104px;
  }
}
