.header{
  display: flex;
  justify-content: space-between;
  max-width: 880px;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  &__border {
    border-bottom: none;
  }
  &__button-container{
    margin: auto 0;
  }
  &__button{
    color: antiquewhite;
  }

}

.header__logo{
  max-width: 200px;
}

@media screen and (max-width: 879px) {
  .header__logo {
    max-width: 175px;
  }
}
@media screen and (max-width: 620px) {
  .header__logo {
    max-width: 150px;
  }
}
@media screen and (max-width: 520px) {
  .header__logo {
    max-width: 104px;
  }
}
