
<ng-container *ngIf="model$ | async as model">
  <ng-container *ngIf="model.state==='READY'">
    <div class="photo" >
      <a class="photo__goback" style="text-decoration: none" routerLink="/">⟵ Go back</a>

      <img class="photo__image" src='{{model.items.urls.regular}}' alt='{{model.items.description}}' />
      <p class="photo__title">{{model.items.user.username}}</p>
      <p class="photo__subtitle">{{model.items.description}}</p>
    </div>
  </ng-container>

  <ng-container class="loading" *ngIf="model.state === 'PENDING'">
    <p class="loading">Загрузка...</p>
  </ng-container>

  <ng-container class="loading" *ngIf="model.state === 'ERROR'">
    <app-not-found></app-not-found>
  </ng-container>

</ng-container>

