<app-header></app-header>


<!--<ng-container  *ngIf="cards">-->

<!--  <ng-container *ngIf="model.state==='READY'">-->
<!--    <ng-container class="loading" *ngIf="model.items.urls.regular.length === 0">-->
<!--      <p class="loading">Ничего не найдено...</p>-->
<!--      <button style="text-decoration: none" class="not-found__button" routerLink="/">⟵ Назад</button>-->
<!--    </ng-container>-->
<!--  </ng-container>-->

  <div class="save" >
      <div  class="save__img-wrapper" *ngFor="let card of cards">
        <a style="text-decoration: none" [routerLink]="['/photo', card.id_card]">
          <img class="save__img" src="{{card.urls}}" alt="{{card?.description}}"/>
        </a>
        <div class="save__container">
          <p class="save__description">{{card.name}} {{card?.description}}</p>
          <button  class="save__item-button"
                    (click)=" handleDeleteCard(card.id)"></button>
        </div>
      </div>
    </div>


<!--  <ng-container class="loading" *ngIf="model.state === 'PENDING'">-->
<!--    <p class="loading">Загрузка...</p>-->
<!--  </ng-container>-->

<!--  <ng-container class="loading" *ngIf="model.state === 'ERROR'">-->
<!--    <app-not-found ></app-not-found>-->
<!--  </ng-container>-->
<!--</ng-container>-->
