body{
  background-color: rgb(48, 45, 32);
}
.loading,
.notFoundText,
.error{
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 40px;
  padding: 2rem;
  color: beige;
}
