<app-header></app-header>
<app-search></app-search>
<div class="card">
  <div class="card__img-wrapper">
    <img class="card__img" src="assets/images/not_found.png"   alt="Photo"/>
    <p class="card__description">Описание фото</p>
  </div>
  <div class="card__img-wrapper">
    <img class="card__img" src="assets/images/not_found.png"   alt="Photo"/>
    <p class="card__description">Описание фото</p>
  </div>
  <div class="card__img-wrapper">
    <img class="card__img" src="assets/images/not_found.png"   alt="Photo"/>
    <p class="card__description">Описание фото</p>
  </div>
  <div class="card__img-wrapper">
    <img class="card__img" src="assets/images/not_found.png"   alt="Photo"/>
    <p class="card__description">Описание фото fgfsgf sh hshdshhgsh sdghgh</p>
  </div>
</div>
<app-footer></app-footer>

