<app-header></app-header>
<app-search [form]="form" (onClick)="onClickSearch($event)"></app-search>

<ng-container  *ngIf="model$ | async as model">

  <ng-container *ngIf="model.state==='READY'">
    <ng-container class="loading" *ngIf="model.items.length === 0">
      <p class="loading">Ничего не найдено...</p>
      <button style="text-decoration: none" class="not-found__button" (click)="onRandom()">⟵ Назад</button>
    </ng-container>
    <div class="card">
      <ng-container *ngFor="let card of model.items">
        <app-card [card]="card"></app-card>
      </ng-container>

    </div>

  </ng-container>
  <ng-container class="loading" *ngIf="model.state === 'PENDING'">
    <p class="loading">Загрузка...</p>
  </ng-container>

  <ng-container class="loading" *ngIf="model.state === 'ERROR'">
    <app-not-found (onReboot)="onRefresh()"></app-not-found>
  </ng-container>
</ng-container>

<div class="pagination" >
  <ng-container *ngFor="let pagination of pages">
    <span
      [class]=" +page === pagination ? 'pagination__current-page' : 'pagination__page' "
      (click)="pageChanged($event)">{{pagination}}</span>
  </ng-container>
</div>

<app-footer></app-footer>

<!--<div>-->
<!--  <div className="pagination">-->
<!--    {props.pages.map((pageId, index) => <span-->
<!--            key={index}-->
<!--    className={props.page === pageId ? "pagination__current-page" : "pagination__page"}-->
<!--    onClick={() => setPage(pageId)}>{pageId}</span>)}-->
<!--  </div>-->
<!--</div>-->


