<app-header></app-header>
<app-search [form]="form" (onClick)="onClickSearch($event)"></app-search>

<ng-container  *ngIf="model$ | async as model">

  <ng-container *ngIf="model.state==='READY'">
    <ng-container class="loading" *ngIf="model.items.length === 0">
      <p class="loading">Ничего не найдено...</p>
      <button style="text-decoration: none" class="not-found__button" (click)="onRandom()">⟵ Назад</button>
    </ng-container>
    <div class="card">
      <div  class="card__img-wrapper" *ngFor="let card of model.items">
       <a style="text-decoration: none" [routerLink]="['/photo', card.id]">
         <img class="card__img" src="{{card.urls.regular}}" alt="{{card.description}}"/>
       </a>
        <div class="card__container">
          <p class="card__description">{{card.user?.username}} {{card?.description}}</p>
          <button [@like]="likeState" [class]="like ?   'card__item-button card__item-like-button-active '
          : 'card__item-button card__item-like-button'"
                  (click)="like ? handleDisLike(card.id) : handleLikeButtonCLick({card})"></button>
        </div>
      </div>
    </div>

  </ng-container>
  <ng-container class="loading" *ngIf="model.state === 'PENDING'">
    <p class="loading">Загрузка...</p>
  </ng-container>

  <ng-container class="loading" *ngIf="model.state === 'ERROR'">
    <app-not-found (onReboot)="onRefresh()"></app-not-found>
  </ng-container>
</ng-container>

<app-footer></app-footer>
